$text-color: #222222;
$theme-color: #170a48;
$secondary-color: #f27731;
$ternary-color: #1268d8;
$menu-item-color: white;
$link-color: $secondary-color;

$text-font: "Alegreya Sans", Arial, sans-serif;
$headline-font: "Titillium Web", Georgia, serif;

$header-height: 60px;
$content-width: 960px;
$footer-height: 90px;