$theme: Dark;


$body-background-color: #fef;
$text-color: #222222;
$theme-color: #170a48;
$secondary-color: #f27731;
$ternary-color: #1268d8;
$menu-item-color: white;
$link-color: $secondary-color;


@if $theme == Dark {
    $text-color: #fff;
    $body-background-color: #22222a;
    $theme-color: #42424a;
    $secondary-color: #c24721;
    $ternary-color: #698932;
    $menu-item-color: white;
    $link-color: $secondary-color;
} @else if $theme == Light {
    $text-color: #000;
    $body-background-color: #fff;
    $theme-color: #372a27;
    $secondary-color: #d26741;
    $ternary-color: #b9da63;
    $menu-item-color: white;
    $link-color: $secondary-color;
}

$text-font: "Alegreya Sans", Arial, sans-serif;
$headline-font: "Titillium Web", Georgia, serif;

$header-height: 60px;
$content-width: 960px;
$footer-height: 90px;
$col: col-width($columns: 8);